doctype html
html(ng-app="app")
  head
    title MEAN_app
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
  body
    block main-content
    include scripts